<div class="menu-container mt-5">

  <div class="menu-card">
    <h3 class="menu-title">Buscar partidas</h3>
    <p class="menu-description">Encuentra partidas públicas disponibles.</p>
    <button class="btn btn-primary" routerLink="/buscar-partida">Buscar Partidas</button>
  </div>

  <div class="menu-card">
    <h3 class="menu-title">Unirse a partida privada</h3>
    <p class="menu-description">Ingresa un ID y una contraseña para unirte a una partida privada.</p>
    <button class="btn btn-primary" routerLink="/unirse-partida-privada">Unirse</button>
  </div>

  <div class="menu-card">
    <h3 class="menu-title">Crear partida</h3>
    <p class="menu-description">Configura y crea tu propia partida.</p>
    <button class="btn btn-primary" routerLink="/crear-partida">Crear Partida</button>
  </div>

</div>